body {
  background-color: black;
  color: #f5f5f5;
}

.line {
  border: 2px solid yellow;
  width: 50vw;
  margin-top: 0;
}

.bio {
  padding: 1em;
  font-size: 20px;
  margin: 0;
}

#name {
  font-size: 3em;
  padding: 5%;
  margin: 0;
  padding: 0;
}

#name-header {
  margin: 0;
  padding: 0;

}
@media only screen and (min-width: 992px) {
  
  #name {
    font-size: 5vw;
    margin: 0;
    padding: 0;
  }
  
  #name-header {
    font-size: 1em;
    margin-bottom: 0;
  }
  
  
  .other-link {
    margin: 1em;
  }
  
}